@import "tailwindcss";

:root {
  --background: #f8f5ed;
  --foreground: #263229;

  /* Warm Olive Sage */
  --primary: #486b4d;
  --secondary: #8fa487;

  /* Neutrals */
  --card: #ffffff;
  --muted: #73776e;
  --border: #d8d7ca;

  /* Light Green */
  --primary-light: #d9e3d2;
  --primary-lighter: #eef2e8;

  /* Primary States */
  --primary-hover: #3d5d42;
  --primary-active: #304b35;

  /* Text */
  --text-on-primary: #ffffff;

  /* Warm Accent */
  --accent: #c98f70;
  --accent-light: #f1ddd0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-card: var(--card);
  --color-muted: var(--muted);
  --color-border: var(--border);

  --color-primary-light: var(--primary-light);
  --color-primary-lighter: var(--primary-lighter);

  --color-primary-hover: var(--primary-hover);
  --color-primary-active: var(--primary-active);

  --color-text-on-primary: var(--text-on-primary);

  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}